<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Raisense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fastselect/fastselect.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>

<body id="page-top">
    <div class="brands"></div>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a></div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary d-flex flex-row font-weight-bold m-0"><span class="d-xl-flex align-items-xl-center" style="width: 100%;">Filter</span><button id="apply_tags" class="btn btn-primary d-flex flex-row align-items-xl-center" type="button">Apply</button></h6>
                                </div>
                                <div class="card-body">
                                    <select class="multipleSelect" multiple name="tag">
                                    {% for t, v in tags.items() %}
                                        <option value="{{ t }}">{{ t }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Tag frequency</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="tag-freq"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                 <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary d-flex align-items-xl-center font-weight-bold m-0" style="width: 100%;">
                                    <span style="width: 100%;">Top tags:</span>
                                    <input id="tag-limit" type="number" style="width: 50px;padding: 0px;margin: 0px 20px;">
                                    <button class="btn btn-primary" onClick="applyTagLimit()" type="button">Apply</button></h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                    <canvas id="tags-chart"></canvas>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Dataset</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                    <table class="table dataTable my-0" id="dataTable">
                                        <tbody>
                                        {% for data in dataset %}
                                            <tr>
                                                <td style="width: 100px;">{{ data['id'] }}</td>
                                                <td>
                                                    <div class="col">
                                                        <a href="https://data.gov.uz/uz/datasets/{{ data['id'] }}"><p>{{ data['title'] }}</p></a>
                                                        <p>{{ data['description'] }}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <a class="btn btn-primary" href="https://data.gov.uz/ru/datasets/download/{{ data['id'] }}/json" role="button">JSON</a>
                                                        <a class="btn btn-primary" href="https://data.gov.uz/ru/datasets/download/{{ data['id'] }}/xml" role="button">XML</a>
                                                        <a class="btn btn-primary" href="https://data.gov.uz/ru/datasets/download/{{ data['id'] }}/csv" role="button">CSV</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Raisense 2019</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-charts.js') }}"></script>
    <script src="{{ url_for('static', filename='fastselect/fastselect.standalone.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script> 
        $('.multipleSelect').fastselect();
        var ctxD = document.getElementById("tags-chart").getContext('2d');
        var limit = 10
        tags = [
            {% for t, v in tags.items() %}
            "{{ t }}",
            {% endfor %}
        ]

        tag_values = [
            {% for t, v in tags.items() %}
            "{{ v }}",
            {% endfor %}
        ]

        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: tags.slice(0, limit),
                datasets: [{
                data: tag_values.slice(0, limit),
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
            }]
        },
        options: {
            responsive: true
        }
        });

        function applyTagLimit() {
            limit = document.getElementById("tag-limit").value
            if (limit == undefined)
                limit = 10

            l_length = myLineChart.data.labels.length
            for(var i = 0; i < l_length; i++) {
                myLineChart.data.labels.pop()
            }

            myLineChart.data.datasets.forEach((dataset) => {
                d_length = dataset.data.length
                for(var i = 0; i < d_length; i++) {
                    dataset.data.pop()
                }
            });

            tags.slice(0, limit).forEach((l) => {
                myLineChart.data.labels.push(l)
            })

            myLineChart.data.datasets.forEach((dataset) => {
                tag_values.slice(0, limit).forEach((l) => {
                    dataset.data.push(l);
                })
            });
            myLineChart.update()
        }


        //bar
        var ctxB = document.getElementById("tag-freq").getContext('2d');
        var myBarChart = new Chart(ctxB, {
        type: 'bar',
        data: {
        labels: tags,
        datasets: [{
        label: 'Tags',
        data: tag_values,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
        }]
        },
        options: {
        scales: {
        yAxes: [{
        ticks: {
        beginAtZero: true
        }
        }]
        }
        }
        });


        $("#apply_tags").click(function() {
            var selected_tags = [];
            $.each($(".multipleSelect option:selected"), function(){            
                selected_tags.push($(this).val());
            });
            
            for(var i = 0; i < selected_tags.length; i++) {
                selected_tags[i] = encodeURIComponent(selected_tags[i])
            }
            d = selected_tags.join(',')
            window.location.replace('http://localhost:5000/?tags=' + d)
        })
    </script>
</body>

</html>